<div class="jumbotron">
  <p class="lead">
    Click to save the number
  </p>

  <!-- Action dropdown, for adding and delete all -->
  <div class="btn-group">
    <button type="button"
            ng-disabled="!vm.currentCountNumber"
            ng-click="vm.saveNumber(vm.currentCountNumber)"
            class="btn action-btn btn-lg btn-success">
      {{vm.currentCountNumber || 'Loading...'}}
    </button>

    <!-- Dropdown -->
    <button type="button"
            ng-disabled="!vm.currentCountNumber"
            class="btn action-btn btn-lg btn-success dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a href ng-click="vm.destroyAllNumbers()">Delete all</a></li>
    </ul>
  </div>
  </p>

  <!-- Table -->
  <table class="table table-bordered table-hover" id="count-number-table">
   <thead>
     <tr>
       <th class="text-center">Number</th>
     </tr>
   </thead>

   <tbody>
     <tr ng-repeat="number in vm.numbers track by $index">
       <td>
          {{number.value}}

          <!-- Error msg and retry button -->
          <a ng-show="number.errorMessage"
             href
             ng-init="btnLabel = 'Error!'"
             ng-mouseenter="btnLabel = 'Try again!'"
             ng-mouseleave="btnLabel = 'Error!'"
             ng-click="vm.saveNumber(number.value, $index)"
             class="btn-sm btn-danger btn-xs pull-right">

            {{btnLabel}}
          </a>

          <!-- Destrou Button -->
          <a ng-hide="number.errorMessage"
             href
             uib-popover="I appeared on mouse enter!"
             ng-click="vm.destroyNumber(number.id)"
             popover-trigger="'mouseenter'"
             class="btn-sm text-danger pull-right">

            <i class="glyphicon glyphicon-trash"></i>
          </a>
       </td>
     </tr>

     <!-- Placeholder where there are no values yet -->
     <tr ng-show="vm.numbers.length === 0">
       <td>Let's start!</td>
     </tr>

   </tbody>
 </table>
</div>


